<div class="container">
    <div class="hero-image">

    </div>

    <div class="hero-text">
        <H1>Descubre<br>planes en <br><span class="provincia-title-header">Bizkaia.</span></H1><br>
        <H4>Descubre, crea y comparte tu propio itinerario.</H4>
    </div>

    <div class="search-bar-container">
        <form class="search-bar-form">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2vw" height="1.2vw" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
            <label for="provincia">Provincia</label><br>
            <input class="provincia-input" type="text" placeholder="Bizkaia" aria-label="Provincia">
            <button class="button-provincia-form"><svg xmlns="http://www.w3.org/2000/svg" width="1.5vw" height="1.5vw" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg></button>
        </form>
    </div>
</div>

<!--clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);-->