
        <!--DATA HERE
    </div>

    <button class="switch-left slider-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
          </svg>
    </button>
    <button class="switch-right slider-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
          </svg>
    </button>
-->
            

    <p-carousel [value]="plan" [numVisible]="4" [numScroll]="2" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <h5>Eventos hoy</h5>
        </ng-template>
        <ng-template let-car pTemplate="item">
            <img src="../../../assets/images/gazte.jpeg" height="170px" width="auto" alt="imagen"/>
        </ng-template>
    </p-carousel>

            
