@import '~primeicons/primeicons.css';


*{
    margin: 0;
    padding: 0;
}

.p-carousel-indicators.p-reset {
    display: none;
    
}

.p-carousel-prev-icon.pi.pi-chevron-left,
.p-carousel-prev-icon.pi.pi-chevron-right
{
    color: var(--color-primary);
    height:20px;
}

.p-ripple{
    background:none;
    border:none;
}

.p-carousel-header > h5{
    color: var(--font-color);
    font-size: 35px;
    margin:1.2em 0 0.8em 0.5em;
    font-family: 'Din Alternate Bold', 'arial Bold';
    padding-left: 0.85em;    
}

